---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Us">
	<div class="w-full h-screen grid place-content-center">
		<a href="/" class="px-4 py-2 bg-blue-500 text-white">Go back</a>
	</div>
</BaseLayout>
