<div class="w-full bg-emerald-700">
	<footer
		class="max-w-7xl mx-auto flex flex-col px-2 py-5 justify-center items-start">
		<div class="w-full flex justify-end">
			<ul class="text-white flex gap-5">
				<li><a href="" class="hover:text-emerald-900">Facebook</a></li>
				<li><a href="" class="hover:text-emerald-900">Instagram</a></li>
				<li><a href="" class="hover:text-emerald-900">Twitter</a></li>
			</ul>
		</div>
		<p class="text-white text-sm text-center w-full">
			Disclaimer, this is a property of Spotify.
		</p>
	</footer>
</div>
